<a href="https://colab.research.google.com/github/gsiahaan/data_manipulation_pandas/blob/main/Aggregation_GroupBy/tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
global_air_quality = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/LO4/global_air_quality_4000rows.csv')
print('Lima data teratas: ', global_air_quality.head())

Lima data teratas:                            location       city country pollutant  value  \
0                  MOBILE-KICKAPOO    LINCOLN      US      pm10   7.00
1                  Oxford St Ebbes     Oxford      GB       no2  30.00
2                 BROADWAY (South)  St. Louis      US      pm25   6.10
3  Deen Dayal Nagar, Sagar - MPPCB      Sagar      IN      pm25  23.67
4                        Manglerud       Oslo      NO      pm10  27.06

                 timestamp   unit source_name   latitude  longitude  \
0  2017-01-18 16:00:00 UTC  µg/m³      AirNow  35.488400 -97.090280
1  2020-04-07 20:00:00 UTC  µg/m³       DEFRA  51.744804  -1.260278
2  2020-04-07 19:00:00 UTC  µg/m³      AirNow  38.542500 -90.263610
3  2020-04-07 18:30:00 UTC  µg/m³       caaqm  23.864016  78.802895
4  2020-04-07 20:00:00 UTC  µg/m³      Norway  59.898690  10.814950

   averaged_over_in_hours
0                    1.00
1                    1.00
2                    1.00
3                    0.25
4                    1.00



---

Melihat data sekilas

In [3]:
print(global_air_quality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   location                3997 non-null   object
 1   city                    3966 non-null   object
 2   country                 4000 non-null   object
 3   pollutant               4000 non-null   object
 4   value                   4000 non-null   float64
 5   timestamp               4000 non-null   object
 6   unit                    4000 non-null   object
 7   source_name             4000 non-null   object
 8   latitude                4000 non-null   float64
 9   longitude               4000 non-null   float64
 10  averaged_over_in_hours  3634 non-null   float64
dtypes: float64(4), object(7)
memory usage: 343.9+ KB
None

In [4]:
print(global_air_quality.count())

location                  3997
city                      3966
country                   4000
pollutant                 4000
value                     4000
timestamp                 4000
unit                      4000
source_name               4000
latitude                  4000
longitude                 4000
averaged_over_in_hours    3634
dtype: int64

In [6]:
gaq_groupby_count = global_air_quality.groupby('source_name').count()
print('Count dengan groupby (5 data teratas): \n', gaq_groupby_count.head())

Count dengan groupby (5 data teratas):
              location  city  country  pollutant  value  timestamp  unit  \
source_name
ARPALAZIO          72    72       72         72     72         72    72
Agaar.mn           27    27       27         27     27         27    27
AirNow           1712  1681     1715       1715   1715       1715  1715
Andalucia          71    71       71         71     71         71    71
Anqing              4     4        4          4      4          4     4

             latitude  longitude  averaged_over_in_hours
source_name
ARPALAZIO          72         72                      72
Agaar.mn           27         27                       0
AirNow           1715       1715                    1715
Andalucia          71         71                      71
Anqing              4          4                       4

In [9]:
pollutant = global_air_quality[['country', 'city', 'pollutant', 'value']].pivot_table(index=['country', 'city'], columns='pollutant').fillna(0)

print('Data pollutant (5 teratas): \n', pollutant.head())

Data pollutant (5 teratas):
                      value
pollutant               bc      co   no2   o3   pm10  pm25  so2
country city
AR      Buenos Aires   0.0     0.0   0.0  0.0    0.0  18.1  0.0
AU      Townsville     0.0     0.0   0.0  0.0    0.0   3.9  0.0
BA      Goražde        0.0   141.0  19.0  8.0    0.0   0.0  0.0
        Ilijaš         0.0     0.0   0.0  0.0  100.0   0.0  0.0
        Jajce          0.0  1508.0  25.0  6.0    9.0   0.0  0.0

Group berdasarkan country dan terapkan aggregasi mean, method .mean() setelah penerapan method .groupby() digunakan untuk mencari rata-rata dari tiap kelompok.

In [11]:
pollutant_mean = pollutant.groupby('country').mean()

print('Rata-rata pollutan (5 teratas): \n', pollutant_mean.head())

Rata-rata pollutan (5 teratas):
           value                                                         \
pollutant    bc          co        no2        o3       pm10       pm25
country
AR          0.0    0.000000   0.000000  0.000000   0.000000  18.100000
AU          0.0    0.000000   0.000000  0.000000   0.000000   3.900000
BA          0.0  475.833333  19.500000  5.833333  40.333333   0.000000
CA          0.0    0.036818   0.000355  0.025963   0.836364   3.433601
CL          0.0    0.000000  21.000000  0.000000   0.000000   0.000000


pollutant        so2
country
AR          0.000000
AU          0.000000
BA         18.000000
CA          0.000091
CL          0.000000

Group berdasarkan country dan terapkan aggregasi std, method .std() setelah penerapan method .groupby() digunakan untuk mencari standard deviasi (penyimpangan) dari tiap kelompok.

In [13]:
pollutant_std = pollutant.groupby('country').std().fillna(0)

print('Standar Deviasi pollutan (5 teratas): \n', pollutant_std.head())

Standar Deviasi pollutan (5 teratas):
           value                                                        \
pollutant    bc          co        no2        o3       pm10      pm25
country
AR          0.0    0.000000   0.000000  0.000000   0.000000  0.000000
AU          0.0    0.000000   0.000000  0.000000   0.000000  0.000000
BA          0.0  536.925476  11.945711  8.207720  46.701891  0.000000
CA          0.0    0.089841   0.000750  0.019323   1.713052  2.286509
CL          0.0    0.000000   0.000000  0.000000   0.000000  0.000000


pollutant        so2
country
AR          0.000000
AU          0.000000
BA         30.403947
CA          0.000302
CL          0.000000

Group berdasarkan country dan terapkan aggregasi sum, method .sum() setelah penerapan method .groupby() digunakan untuk mencari total nilai dari tiap kelompok.

In [14]:
pollutant_sum = pollutant.groupby('country').sum()

print('Sum pollutan (5 teratas): \n', pollutant_sum.head())

Sum pollutan (5 teratas):
           value
pollutant    bc        co       no2         o3   pm10       pm25      so2
country
AR          0.0     0.000    0.0000   0.000000    0.0  18.100000    0.000
AU          0.0     0.000    0.0000   0.000000    0.0   3.900000    0.000
BA          0.0  2855.000  117.0000  35.000000  242.0   0.000000  108.000
CA          0.0     0.405    0.0039   0.285593    9.2  37.769608    0.001
CL          0.0     0.000   21.0000   0.000000    0.0   0.000000    0.000

Group berdasarkan country dan terapkan aggregasi nunique, method .nunique() setelah penerapan method .groupby() digunakan untuk mencari berapakah jumlah unique value dari tiap kelompok.

In [15]:
pollutant_nunique = pollutant.groupby('country').nunique()

print('Nunique pollutan (5 teratas): \n', pollutant_nunique.head())

Nunique pollutan (5 teratas):
           value
pollutant    bc co no2 o3 pm10 pm25 so2
country
AR            1  1   1  1    1    1   1
AU            1  1   1  1    1    1   1
BA            1  6   6  4    5    1   4
CA            1  3   4  9    4   10   2
CL            1  1   1  1    1    1   1

[5] Group berdasarkan country dan terapkan aggregasi min, method .min() setelah penerapan method .groupby() digunakan untuk memunculkan nilai terkecil dari tiap kelompok.

In [18]:
pollutant_max = pollutant.groupby('country').max()
print('Max pollutant (5 teratas): \n', pollutant_max.head())

Max pollutant (5 teratas):
           value
pollutant    bc        co      no2         o3   pm10  pm25     so2
country
AR          0.0     0.000   0.0000   0.000000    0.0  18.1   0.000
AU          0.0     0.000   0.0000   0.000000    0.0   3.9   0.000
BA          0.0  1508.000  32.0000  21.000000  100.0   0.0  78.000
CA          0.0     0.285   0.0024   0.048333    5.2   6.0   0.001
CL          0.0     0.000  21.0000   0.000000    0.0   0.0   0.000

In [20]:
pollutant_min = pollutant.groupby('country').min()
print('Minimum pollutant (5 teratas): \n', pollutant_min.head())

Minimum pollutant (5 teratas):
           value
pollutant    bc   co   no2   o3 pm10  pm25  so2
country
AR          0.0  0.0   0.0  0.0  0.0  18.1  0.0
AU          0.0  0.0   0.0  0.0  0.0   3.9  0.0
BA          0.0  0.0   0.0  0.0  0.0   0.0  0.0
CA          0.0  0.0   0.0  0.0  0.0   0.0  0.0
CL          0.0  0.0  21.0  0.0  0.0   0.0  0.0

In [21]:
pollutant_first = pollutant.groupby('country').first()
print('First pollutant (5 teratas): \n', pollutant_first.head())

First pollutant (5 teratas):
           value
pollutant    bc       co      no2        o3 pm10  pm25  so2
country
AR          0.0    0.000   0.0000  0.000000  0.0  18.1  0.0
AU          0.0    0.000   0.0000  0.000000  0.0   3.9  0.0
BA          0.0  141.000  19.0000  8.000000  0.0   0.0  0.0
CA          0.0    0.285   0.0024  0.048333  0.0   3.9  0.0
CL          0.0    0.000  21.0000  0.000000  0.0   0.0  0.0

In [22]:
pollutant_last = pollutant.groupby('country').last()
print('Last pollutant (5 teratas): \n', pollutant_last.head())

Last pollutant (5 teratas):
           value
pollutant    bc     co   no2     o3  pm10  pm25   so2
country
AR          0.0    0.0   0.0  0.000   0.0  18.1   0.0
AU          0.0    0.0   0.0  0.000   0.0   3.9   0.0
BA          0.0  292.0  29.0  0.000  96.0   0.0  78.0
CA          0.0    0.0   0.0  0.036   3.0   0.0   0.0
CL          0.0    0.0  21.0  0.000   0.0   0.0   0.0

multiple aggregations pada dataframe pollutant dengan fungsi aggregasinya adalah 'min', 'median', 'mean', 'max'.

In [23]:
multiagg = pollutant.groupby('country').agg(['min','median','mean','max'])
print('Multiple aggregations (5 teratas):\n', multiagg.head())

Multiple aggregations (5 teratas):
           value                                                           \
pollutant    bc                    co                                no2
            min median mean  max  min median        mean       max   min
country
AR          0.0    0.0  0.0  0.0  0.0    0.0    0.000000     0.000   0.0
AU          0.0    0.0  0.0  0.0  0.0    0.0    0.000000     0.000   0.0
BA          0.0    0.0  0.0  0.0  0.0  355.0  475.833333  1508.000   0.0
CA          0.0    0.0  0.0  0.0  0.0    0.0    0.036818     0.285   0.0
CL          0.0    0.0  0.0  0.0  0.0    0.0    0.000000     0.000  21.0

                  ...                                                       \
pollutant         ...       pm10         pm25                          so2
          median  ...       mean    max   min median       mean   max  min
country           ...
AR           0.0  ...   0.000000    0.0  18.1   18.1  18.100000  18.1  0.0
AU           0.0  ...   0.000000    0.0   3.9    3.9   3.900000   3.9  0.0
BA          22.0  ...  40.333333  100.0   0.0    0.0   0.000000   0.0  0.0
CA           0.0  ...   0.836364    5.2   0.0    4.0   3.433601   6.0  0.0
CL          21.0  ...   0.000000    0.0   0.0    0.0   0.000000   0.0  0.0


pollutant
          median       mean     max
country
AR           0.0   0.000000   0.000
AU           0.0   0.000000   0.000
BA           5.5  18.000000  78.000
CA           0.0   0.000091   0.001
CL           0.0   0.000000   0.000

[5 rows x 28 columns]

***Groupby dengan Custom Aggregations***


Dengan membuat sebuah Python function (user defined) dapat menggunakan sebagai custom aggregation pada dataframe yang telah di groupby.

In [24]:
def iqr(series):
	Q1 = series.quantile(0.25)
	Q3 = series.quantile(0.75)
	return Q3 - Q1
# Group berdasarkan country dan terapkan aggregasi dari function: iqr
custom_agg = pollutant.groupby('country').agg(iqr)
print('Custom aggregation (5 teratas):\n', custom_agg.head())

Custom aggregation (5 teratas):
           value
pollutant    bc      co       no2        o3  pm10      pm25   so2
country
AR          0.0    0.00   0.00000  0.000000   0.0  0.000000   0.0
AU          0.0    0.00   0.00000  0.000000   0.0  0.000000   0.0
BA          0.0  297.75  14.25000  7.500000  79.0  0.000000  17.0
CA          0.0    0.00   0.00025  0.035708   0.5  3.876471   0.0
CL          0.0    0.00   0.00000  0.000000   0.0  0.000000   0.0

In [25]:
custom_agg_dict = pollutant['value'][['pm10','pm25','so2']].groupby('country').agg({
   'pm10':'median',
   'pm25':iqr,
   'so2':iqr
})
print('\nCetak 5 data teratas custom_agg_dict:\n', custom_agg_dict)

Cetak 5 data teratas custom_agg_dict:
 pollutant       pm10       pm25        so2
country
AR           0.00000   0.000000   0.000000
AU           0.00000   0.000000   0.000000
BA          23.00000   0.000000  17.000000
CA           0.00000   3.876471   0.000000
CL           0.00000   0.000000   0.000000
CN          55.00000  19.000000  10.000000
CO           0.00000   9.679230   0.000000
ES           0.00000   0.000000   4.500000
GB           0.00000   8.000000   0.000000
ID           0.00000   0.000000   0.000000
IL           0.00000   0.000000   0.001317
IN           0.00000  26.695000   7.175000
IT          17.95000  12.708333   7.041667
MK           0.00000   0.000000   0.000000
MN         136.50000   0.000000   0.000000
MT           0.00000  17.175250   0.177172
MX          36.00000   9.166667   0.003111
NO           3.80000   6.732700   0.000000
PE          33.20250   0.000000   0.000000
PH           0.00000   0.000000   0.000000
PL           0.00000   0.000000   3.675820
SE          18.43125  13.891300   0.000000
TH          31.00000   0.000000   0.002750
TR          22.50000   0.000000  11.187500
TW          24.75000  17.750000   0.002250
US           0.00000   5.000000   0.000000
VN           0.00000   0.000000   0.000000
XK           0.00000  15.274750   5.042500